<c-card-body>


  <c-row>

    <div class="ph-left">
      <div class="ph-title">Mis <em>Usuarios</em></div>
      <div class="ph-sub">{{totalUsuarios}} usuarios registrados</div>
    </div>

    <!-- Filtros y botón de nuevo usuario -->
    <div class="col-md-9" style="padding-top: 10px;">
      <input id="search" type="text" class="form-control" placeholder="🔍 Buscar Usuario" [value]="searchTerm"
        (input)="onSearch($any($event.target).value)" />
    </div>


    <div class="col-md-3 d-flex justify-content-end">
      <button cButton color="primary" shape="rounded-pill" [cModalToggle]="nuevousuario.id"
        (click)="prepararNuevoUsuarios()">+ Nuevo Usuario</button>
    </div>

  </c-row>
  <div class="col-md-3 d-flex justify-content-end mb-2"></div>




</c-card-body>

<c-row class="mt-4">
  <c-col xs="12">
    <c-card>
      <c-card-header class="d-flex justify-content-between align-items-center">
        <div>
          <strong>Lista de Usuarios</strong>
        </div>
        <div>
          <div class="btn-group btn-group-sm" role="group" aria-label="Ver opciones">
            <button type="button" class="btn btn-outline-primary" [class.active]="viewMode === 'table'"
              (click)="setView('table')">
              Lista
            </button>
            <button type="button" class="btn btn-outline-primary" [class.active]="viewMode === 'cards'"
              (click)="setView('cards')">
              Tarjetas
            </button>
          </div>
        </div>
      </c-card-header>


      <c-card-body>

        <!-- Vista en tabla -->
        <div *ngIf="viewMode === 'table'" class="table-responsive">
          <table class="table ">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Sucursal</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usu of usuariosFiltrados">
                <td>{{ usu.idUsuario }}</td>
                <td>{{ usu.nombres }}</td>
                <td>{{ usu.email }}</td>
                <td>{{ usu.rol?.nombre }}</td>
                <td>{{ usu.sucursal?.nombre }}</td>
                <td>
                  <button class="btn btn-sm btn-outline-primary me-2" title="Editar"
                    [cModalToggle]="editarusuario.id" (click)="openEditUsuarioModal(usu)">
                    ✏️
                  </button>
                  <button class="btn btn-sm btn-outline-danger" title="Eliminar" [cModalToggle]="eliminarusuario.id"
                    (click)="openDeleteUsuarioModal(usu)">
                    🗑️
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Vista en tabla -->

        <!-- ---------------------------- -->

        <!-- Vista en tarjetas -->

        <div *ngIf="viewMode === 'cards'" class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let usu of usuariosFiltrados">

            <c-card>
              <c-card-body>
                <h5 cCardTitle>{{ usu.nombres }}</h5>
                <p cCardText>
                  Rol: <strong>{{ usu.rol?.nombre }}</strong><br>
                  Sucursal: <strong>{{ usu.sucursal?.nombre }}</strong>
                </p>
              </c-card-body>
              <c-card-footer class="d-flex justify-content-end gap-2">

                <button cButton color="primary" variant="outline" [cModalToggle]="editarusuario.id"
                  (click)="openEditUsuarioModal(usu)" class="d-flex align-items-center justify-content-center">
                  <span class="material-icons">edit</span>
                </button>

                <button cButton color="danger" variant="outline" [cModalToggle]="eliminarusuario.id"
                  (click)="openDeleteUsuarioModal(usu)" class="d-flex align-items-center justify-content-center">
                  <span class="material-icons">delete</span>
                </button>

              </c-card-footer>
            </c-card>


          </div>
        </div>
      </c-card-body>

    </c-card>
  </c-col>
</c-row>
<!-- Vista en tarjetas -->

<!-- ---------------------------- -->

<!-- Modal para nuevo usuario -->
<c-modal #nuevousuario alignment="center" id="nuevousuario">
  <c-modal-header>
    <h5 cModalTitle>Nuevo Usuario</h5>
    <button [cModalToggle]="nuevousuario.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <form id="formNuevoUsuario" [formGroup]="myForm" (ngSubmit)="crearUsuarios()">

      <div class="row">
        <div class="col mb-2">
          <label cLabel for="exampleFormControlInput1">Sucursal</label>
          <select class="form-select"  formControlName="idSucursal">
            <option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">
              {{ sucursal.nombre }}
            </option>
          </select>
        </div>

        <div class="col mb-2">
          <label cLabel for="exampleFormControlInput1">Rol</label>
         <select class="form-select"  formControlName="idRol">
            <option *ngFor="let rol of roles" [value]="rol.idRol">
              {{ rol.nombre }}
            </option>
          </select>
        </div>

      </div>


      <div class="col mb-2">
        <label cLabel for="exampleFormControlInput1">Nombre</label>
        <input cFormControl formControlName="nombres" type="text" />
      </div>

      <div class="mb-3">
        <label cLabel for="exampleFormControlTextarea1">Email</label>
        <input cFormControl formControlName="email" type="email" />
      </div>

      <div class="mb-3">
        <label cLabel for="exampleFormControlInput1">Password</label>
        <input cFormControl formControlName="passwordHash" placeholder="Password" type="password" />
      </div>

    </form>

  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="nuevousuario.id" cButton color="danger">
      Cancelar
    </button>
    <button cButton type="submit" form="formNuevoUsuario" color="primary">
      Guardar Usuario
    </button>
  </c-modal-footer>
</c-modal>
<!-- Modal para nuevo usuario -->

<!-- ---------------------------- -->

<!-- Modal para editar usuario -->
<c-modal #editarusuario alignment="center" id="editarusuario">
  <c-modal-header>
    <h5 cModalTitle>Editar Usuario</h5>
    <button [cModalToggle]="editarusuario.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <form id="formEditarUsuario" [formGroup]="myForm" (ngSubmit)="actualizarUsuario()">

      <div class="row">
        <div class="col mb-2">
          <label cLabel for="exampleFormControlInput1">Sucursal</label>
          <select class="form-select" formControlName="idSucursal">
            <option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">
              {{ sucursal.nombre }}
            </option>
          </select>
        </div>

        <div class="col mb-2">
          <label cLabel for="exampleFormControlInput1">Rol</label>
          <select class="form-select" formControlName="idRol">
            <option *ngFor="let rol of roles" [value]="rol.idRol">
              {{ rol.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="col mb-2">
        <label cLabel for="exampleFormControlInput1">Nombre</label>
        <input cFormControl formControlName="nombres" type="text" />
      </div>

      <div class="mb-3">
        <label cLabel for="exampleFormControlTextarea1">Email</label>
        <input cFormControl formControlName="email" type="email" />
      </div>

     
    </form>

  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="editarusuario.id" cButton color="danger">
      Cancelar
    </button>
    <button cButton type="submit" form="formEditarUsuario" color="primary">
      Guardar Cambios
    </button>
  </c-modal-footer>
</c-modal>
<!-- Modal para editar usuario -->

<!-- ---------------------------- -->

<!-- Modal para CONFIRMAR ELIMINACIÓN de usuario -->
<c-modal #eliminarusuario alignment="center" id="eliminarusuario">
  <c-modal-header>
    <h5 cModalTitle>Eliminar Usuario</h5>
    <button [cModalToggle]="eliminarusuario.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p style="text-align: center; font-size: 3rem;">
      🗑️
    </p>

    <p class="mb-3" style="text-align: center;">
      Esta acción no se puede deshacer.
    </p>
    <p class="mb-0" style="text-align: center;">
      El usuario <strong>{{ selectedUsuario?.nombres }}</strong> será eliminado permanentemente.
    </p>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="eliminarusuario.id" cButton color="secondary">
      Cancelar
    </button>
    <button cButton color="danger" style="color: white;" (click)="confirmEliminar(selectedUsuario?.idUsuario || selectedUsuario?.id_usuario)"
      [cModalToggle]="eliminarusuario.id">
      Eliminar Permanentemente
    </button>
  </c-modal-footer>
</c-modal>
<!-- Modal para eliminar usuario -->


<!-- Toast -->

<c-toaster [placement]="'top-end'" class="p-3" position="fixed">
  <c-toast *ngFor="let toast of toasts" [autohide]="true" [fade]="true" [visible]="true" [color]="toast.type"
    style="min-width: 220px; margin-bottom: 8px;">
    <c-toast-body>{{ toast.message }}</c-toast-body>
  </c-toast>
</c-toaster>